
.website-information-bar {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #1E4A74;
    width: 80px;
    height: 100vh;
  }
  
  .greener-footprint-logo {
    display: flex;
    padding-top: 20px;
    height: 200px;
  }
  
  .greener-footprint1{
    margin-top: 60px;
    color: white;
    transform: rotate(270deg);
    font-size: 30px;
    font-weight: bold;
  }
  
  
  .greener-footprint2{
    margin-top: 85px;
    color: white;
    transform: rotate(270deg);
    font-size: 30px;
    font-weight: bold;
  }