
.greta-message{
    background-color: rgb(59, 167, 238);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    width: 80%;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 16px;
    line-height: 150%;
}

.user-message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}
.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 2px solid rgb(27, 223, 122);
    background-color: rgb(27, 223, 122);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.user-message{
    text-align: right;
    background-color: rgb(27, 223, 122);
    padding: 8px 10px 5px 0px;
    border-radius: 20px;
    width: 80%;
    min-height: 36px;
    margin: 0px 0px 0px 50px;
} 

.greta-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 2px solid rgb(59, 167, 238);
    background-color: rgb(59, 167, 238);
    border-radius: 20px;
    margin-top: 16px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
}

.greta-message-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    width: 80%;
    margin-left: 20px;
    margin-bottom: 15px;
}

.greta-message-item {
    background-color: rgb(30, 213, 254);
    font-size: 16px;
    border-radius: 20px;
    width: max-content;
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
}

.user-message-wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: 5fr 1fr;
    margin-bottom: 20px;
}
.greta-message-wrapper {
    display: grid;
    place-items: start;
    grid-template-columns: 1fr 5fr;
}

.mobile-size-component {
    display: none;
}

@media only screen and (max-width: 375px){
    
    .user-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 2px solid rgb(27, 223, 122);
        background-color: rgb(27, 223, 122);
        padding: 10px 10px 10px 10px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .user-message-wrapper {
        display: grid;
        grid-template-columns: 5fr 1fr;
    }
    .greta-message-wrapper {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

    .greta-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border: 2px solid rgb(59, 167, 238);
        background-color: rgb(59, 167, 238);
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 20px;
        padding: 10px 10px 10px 10px;
    }

    .greta-message{
        border: 2px solid white;
        background-color: white;
        padding: 10px 10px 10px 10px;
        border-radius: 20px;
        width: 75%;
        margin-left: 10px;
        line-height: 150%;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, .55);
        transition: 0.4s;
    }
    
    .user-message-container {
        width: 375px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .user-message{
        border: 2px solid white;
        background-color: white;
        padding: 8px 10px 5px 0px;
        border-radius: 20px;
        width: 60%;
        min-height: 36px;
        margin: 10px 10px 0px 120px;
        padding: 10px 10px 10px 10px;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, .55);
    } 
    
    .greta-message-item-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        width: 80%;
        margin-left: 30px;
        gap: 5px;
    }
    
    .greta-message-item {
        border: 2px solid rgb(59, 167, 238);
        background-color: white;
        font-size: 16px;
        border-radius: 20px;
        width: max-content;
        padding: 10px 10px 10px 10px;
        margin-top: 0px;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, .55);
    }

    .mobile-size-component {
        display: block;
    }
}
