* {
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 2fr;
  overflow: auto;
  height: 100vh
}

.main-content-section {
  width: 100%;
}

.section-chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 151, 101);
  height: 100vh;
  max-width: 400px;
}


@media only screen and (max-width: 414px) {
  /* .layout {
      width: 100vw;
  } */

  .main-info-container  {
    display: none;
  }

  .section-chatbot-container {
    width: 414px;
    height: 736px;
  }

}


@media only screen and (max-width: 375px) {
  /* .layout {
      width: 100vw;
  } */

  .main-content {
    background-color: white;
    display: block;
    grid-template-rows: 1fr 2fr;
    overflow: none;
    height: max-content;
    width: 100%;
    width: 340px;
    border: 1px solid black;
    margin: 30px 20px;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 0 24px 20px rgba(0, 0, 0, .55);
  }

  .main-info-container  {
    display: none;
  }

  .section-chatbot-container {
    width: 375px;
    height: 812px;
    overflow-x: hidden;
  }

  .footer-outer-container {
    display: none;
  }

}

