* {
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 2fr;
  overflow: auto;
  height: 100vh
}

.main-content-section {
  width: 100%;
}

.section-chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 151, 101);
  height: 100vh;
  min-width: 400px;
}


@media only screen and (max-width: 414px) {
  /* .layout {
      width: 100vw;
  } */

  .main-info-container  {
    display: none;
  }

  .section-chatbot-container {
    width: 414px;
    height: 736px;
  }

}


@media only screen and (max-width: 375px) {
  /* .layout {
      width: 100vw;
  } */

  .main-content {
    display: block;
    grid-template-rows: 1fr 2fr;
    overflow: none;
    height: max-content;
    width: 100%;
  }
  

  .main-info-container  {
    display: none;
  }

  .section-chatbot-container {
    width: 375px;
    height: 812px;
  }

  .footer-outer-container {
    display: none;
  }

}

